<!DOCTYPE html>
<html ng-app='products'>
  <head>
    <meta charset="utf-8">
    <title>Products with a Factory</title>
    <script src="bower_components/angular/angular.js" charset="utf-8"></script>
    <script src="app.js" type='text/javascript'></script>
    <style>
    table {
      border-collapse: collapse;
    }
    th, td {
      text-align: center;
      border: 1px black solid;
    }
    </style>
  </head>
  <body>
    <fieldset ng-controller='productController'>
      <legend>Products Controller</legend>
      <form ng-submit='add()'>
        <table>
          <tbody>
            <tr>
              <td>Product Name:</td>
              <td><input type='text' ng-model='newProduct.name'></td>
            </tr>
            <tr>
              <td>Product Price:</td>
              <td><input type='text' ng-model='newProduct.price'></td>
              <td><input type='submit' value='Add Product'></td>
            </tr>
          </tbody>
        </table>
      </form>
      <p ng-if='nanError' ng-bind='nanError'></p>
      <table>
        <thead>
          <th ng-click='order("name")'>Name<span ng-if='ordering=="name"'>(^)</span><span ng-if='ordering=="-name"'>(v)</span></th>
          <th ng-click='order("price")'>Price<span ng-if='ordering=="price"'>(^)</span><span ng-if='ordering=="-price"'>(v)</span></th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat='product in productList | orderBy:ordering'>
            <td ng-bind='product.name'></td>
            <td ng-bind='product.price | currency:"$"'></td>
            <td><button ng-click='remove(product)'>Delete Product</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <fieldset ng-controller='orderController'>
      <legend>Orders Controller</legend>
      <table>
        <thead>
          <th ng-click='order("name")'>Name<span ng-if='ordering=="name"'>(^)</span><span ng-if='ordering=="-name"'>(v)</span></th>
          <th ng-click='order("price")'>Price<span ng-if='ordering=="price"'>(^)</span><span ng-if='ordering=="-price"'>(v)</span></th>
          <th ng-click='order("qty")'>Qty Available<span ng-if='ordering=="qty"'>(^)</span><span ng-if='ordering=="-qty"'>(v)</span></th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat='product in productList | orderBy:ordering'>
            <td ng-bind='product.name'></td>
            <td ng-bind='product.price | currency:"$"'></td>
            <td ng-bind='product.qty' ng-style='{"text-align":"center"}'></td>
            <td><button ng-click='buy(product)'>Buy</td>
          </tr>
        </tbody>
      </table>
      <ul ng-if='errors.length'>
        <li ng-repeat='error in errors'>{{error}}</li>
      </ul>
    </fieldset>
  </body>
</html>
