<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>greatNumberGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BD943141E71D8CB00DC20FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD943281E71D8CB00DC20FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD943331E71D8CB00DC20FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
