<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='numbergame.css')}}">
    <title>Great Number Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready() {
        $('#number').focus();
      }
    </script>
  </head>
  <body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>
    {%if gamestate == 'high'%}
    <div class='guess'>Too High!</div>
    {%elif gamestate == 'low'%}
    <div class='guess'>Too Low!</div>
    {%elif gamestate == 'win'%}
    <div class='win'>
      You win!
      <form action='/reset' method="post">
        <input type="submit" name="reset" value="Reset"/>
      </form>
    </div>
    {%endif%}
    {%if gamestate != 'win'%}
    <form action='/guess', method='post'>
      <input type='number' id='number' name='number'/><br>
      <input type='submit' name='submit' value='Submit'/>
    </form>
    {%endif%}
  </body>
</html>
