<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users New</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
  </head>
  <body>
    <h1>Add a new user</h1>
    {%with messages=get_flashed_messages(category_filter="messages")%}
    {%if messages%}
    <ul>
      {%for msg in messages%}
      <li>{{msg}}</li>
      {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}
    <form action="/users/create" method="post">
      <p>First Name: </p>
      <input type="text" name="first_name"/>
      <p>Last Name: </p>
      <input type="text" name="last_name"/>
      <p>Email:</p>
      <input type="text" name="email"/>
      <p><input type="submit" value="Create"/></p>
    </form>
    <a href="/users">Go Back</a>
  </body>
</html>
