<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' type='text/css' href='stylesheets/gallery.css'>
  </head>
  <body>
    <ul>
      <li><a href='images/Custom_volkswagen_beetle_2012_blue.png'><img src='images/Custom_volkswagen_beetle_2012_blue.png' alt='Volkswagen Beetle'></a></li>
      <li><a href='images/Ferrari_575_GTC_01.jpg'><img src='images/Ferrari_575_GTC_01.jpg' alt='Ferrari'></a></li>
      <li><a href='images/giphy.gif'><img src='images/giphy.gif' alt='Optimus Prime'></a></li>
    </ul>
  </body>
</html>
