<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' type='text/css' href='stylesheets/gallery.css'>
  </head>
  <body>
    <ul>
      <li><a href='images/20160624_210632.jpg'><img src='images/20160624_210632.jpg' alt='Wedge'></a></li>
      <li><a href='images/20161105_151247.jpg'><img src='images/20161105_151247.jpg' alt='Biggs w/ toy'></a></li>
      <li><a href='images/20161127_151428.jpg'><img src='images/20161127_151428.jpg' alt='Biggs zzzz'></a></li>
    </ul>
  </body>
</html>
