<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>binaryCounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BEAAFE31E80A111009C7964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEAAFFA1E80A112009C7964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEAB0051E80A112009C7964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
